.Details {
  button:focus {
    outline: none;
  }
  a {
    color: #0094ff;
    text-decoration: none;
  }
  display: flex;
  justify-content: center;
  .details-card {
    height: 417px;
    margin-top: 80px;
    width: 804px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(132, 132, 132, 0.75);
    border: solid 1px #dadada;
    background-color: #ffffff;
    display: flex;
    .details-card-left {
      width: 322px;
      margin-left: 30px;
      height: 417px;
      .result-name {
        margin-top: 30px;
        height: 22px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
      .details-title {
        width: 322px;
        height: 20px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 10px;
        margin-bottom: 5px;
      }
      .details-wrapper {
        // height: 325px;
        .details-list {
          height: 101px;
          list-style: none;
          padding: 0;
          .details-list-item {
            padding: 0;
            width: 220px;
            margin-left: 0px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
          }
        
        }
        .opening-crawl-text {
          width: 220px;
          height: 325px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000000;
        }
      }
       
      .details-loading {
        text-align: left;
        // height: 325px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
       
      }
      .loading-text {
        // margin-top: 50%;
      }
      .back-to-search-button {
        margin-top: 30px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        width: 187px;
        height: 34px;
        border-radius: 17px;
        border: solid 1px #089954;
        background-color: #089954;
        a {
          color: #ffffff;
          text-decoration: none;
        }
        button:focus {
          outline: none;
        }

      }
    }
    .details-card-right {
      width: 322px;
      margin-left: 100px;
      margin-right: 30px;
      height: 417px;
      width: 132px;
      height: 18px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      .details-right {
        margin-top: 70px;
        width: 322px;
        height: 20px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 10px;
        margin-bottom: 5px;
      }
      .right-list-container {
        margin-top: 16px;
        width: 322px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0094ff;
       
        .details-loading {
          text-align: left;
          // height: 325px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #c4c4c4;
         
        }
        .loading-text {
          // margin-top: 50%;
        }
      }
    }
  }

}