$primary-color: #ffffff;
$border-color: #dadada;
$shadow-color: rgba(132, 132, 132, 0.75);
$button-color: #0ab463;


@mixin flex-rcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-style {
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(132, 132, 132, 0.75);
  border: solid 1px #dadada;
  background-color: #ffffff;
}



.Main {
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  // height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  .content-wrapper {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .search-div {
      @include card-style;
      width: 410px;
      height: 230px;
      margin-left: 208px;
      display: flex;
      justify-content: center;
      .search-content-wrapper {
        margin-left: 30px;
        .What-are-you-searching-for {
          width: 205px;
          height: 18px;
          margin-top: 30px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #383838;
        }
        // width: 80%;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        .radio-group {
          margin-top: 20px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000000;
          display: flex;
          align-items: center;
          .People, .Movies {
            width: 51px;
            height: 18px;
            margin-left: 6px;
          }
          .People {
            margin-right: 26px;
          }
        }
        .search-input {
          margin-top: 20px;
          padding-left: 10px;
          width: 350px;
          height: 40px;
          border-radius: 4px;
          box-shadow: inset 0 1px 3px 0 rgba(132, 132, 132, 0.75);
          border: solid 1px #c4c4c4;
          background-color: #ffffff;
        }
    }
    .Ellipse {
      width: 16px;
      height: 16px;
      border: solid 1px #c4c4c4;
      background-color: #ffffff;
     
    }

    .SearchButton {
      margin-top: 24px;
      width: 350px;
      height: 34px;
      border-radius: 20px;
      border: solid 1px #c4c4c4;
      background-color: #c4c4c4;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
  }

    .results-div {
     
      @include card-style;
      width: 582px;
      height: 582px;
      margin-left: 30px;
      overflow-Y: scroll;
      // display: flex;
      // justify-content: center;
      .Results {
        width: 522px;
        height: 32px;
        margin-left: 30px;
        padding-top: 30px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        border-bottom: 1px solid  #c4c4c4;
      }
      .results-list {
        list-style: none;
        .result-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 54px;
          width: 522px;
          margin-left: -10px;
          border-bottom: 1px solid #c4c4c4;
          font-family: Montserrat;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000000;
          .detail-button {
            width: 134px;
            height: 34px;
            border-radius: 17px;
            background-color: #0ab463;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            &:hover {
              background: #089954;
              cursor: pointer;
            }
          }
        }
      }
      .There-are-zero-matches-Use-the-form-to-search-for {
        margin-left: 129px;
        margin-top: 274px;
        width: 324px;
        height: 35px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
      }
  
    }

  }
  input[type=radio] {
    background-color: #0094ff;
  } 
}